<div class="bid-bg">
    <div class="container ">
        <div class="row logo bid-title">
            <a href="index.html">
                <img src="images/pic/logo.png" alt="" width="32" height="32"/>
            </a>
            <h1 class="title">
                BID REGISERED
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Thank you!
                </h1>
                <p>
                    You will receive confirmation for your bid by email, and alerts for any competing bids from others.
                    Instructions to pickup the artwork(or have it delivered) will be sent at the end of the auction.
                </p>
                <p>
                    If you have any difficulties send an
                    <a href="mailto:xxx@xxx.com" style="color: #000000;text-decoration: underline">email to support.</a>
                </p>
                <a href="#/"><img src="images/pic/return.png" class="return hidden-xs" alt=""/></a>
            </div>
            <div class="col-md-6" style="padding: 1.6em;">
                <p class="share">
                    <span class="glyphicon glyphicon-send"></span>
                    Please share this!
                </p>
                <div class="row" style="background: #ffffff;margin: 0;padding-top: 0.3em;border-radius: 0.5em;">
                    <div class="col-xs-6" style="padding-left: 0.3em;padding-bottom: 0.3em;padding-right: 0.2em;">
                        <img src="images/pic/video.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-xs-6" style="padding: 0;font-size: 0.8em;">
                        <span style="">Hear the story that inspired high school students to create beautiful artwork!</span>
                        <br/>
                        <a href="http://teachart.org" style="color: #000000;margin-top: 0.3em;display: block;">teachart.org</a>
                    </div>
                </div>
                <div class="text-center">
                    <img src="images/pic/arrow.png" style="width: 7em;" alt=""/>
                </div>
                <div class="row link" style="margin-top: 1em;text-align: center">
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="images/pic/what.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="images/pic/facebook.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="images/pic/twitter.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="images/pic/email.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                </div>
                <a href="#/"><img src="images/pic/return.png" class="return visible-xs" alt=""/></a>
            </div>
        </div>
    </div>
</div>