<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Outbid</title>
</head>
<body bgcolor="#FFFFFF" text="#111111">
    <table id="header" style="width: 100%;" align="center" cellspacing="10">
        <tr>
            <td colspan="2">
                Greetings,
            </td>
        </tr>
       <tr>
            <td>
                <!-- Logo placeholder -->
            </td>
            <td>
                <h4>You did not win at the auction!</h4>
            </td>
        </tr>
    </table><!-- Header table -->

    <table id="updates" style="width: 100%;table-layout: fixed;" align="center" cellspacing="10">
        <tr>
            <td> You did not win any of the items on our recent auction. Better luck next time.
        <tr>
            <td colspan="2">Do you want to donate anyway?</td>
            <td>Click <a href="http://auctions.teachart.org/donate">here</a> to donate any amount.</td>
        </tr>
    </table><!-- updates table -->

    <table id="footer" style="width: 100%;" align="center" cellspacing="10">
        <tr id="footer">
            <td>

                    <br/><a href="http://auctions.TeachArt.org" alt="Localism">TeachArt.org</a>

            </td>
        </tr>
        <tr>
            <td colspan="2">

                    <font color="#999999">
                        <small>To stop receiving emails click <a href="http://auctions.teachart.org/unsubscribe?email=<% outbid.email %>">here</a>.  If you need help don't hesitate to 
                        <a href="mailto:havenly@localism.zendesk.com">email us</a>!<small>
                        <!--To unsubscribe, click here.-->
                        <br />  Community Auction™ | <a href="http://localism.co">A Localism Project</a> | &copy;2014 All rights reserved.
                        </small></small>
                    </font>

            </td>
        </tr>
    </table><!-- Footer table -->
</body>
</body>
</html>
