<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Shipping Confirmation</title>
</head>
<body>
    <h2>Thank you for supporting Non-Profit/Arts</h2>
    <h4>Here is your receipt and pickup/delivery info:</h4>
    <div><%= poBox %></div>
    <div><%= street %></div>
    <div><%= zipCode%>, <%= state%></div>
</body>
</html>