<div class="about-bg">
    <div class="container">
        <div class="row logo">
            <a href="#/">
                <img src="images/pic/logo.png" alt="" width="40" height="40"/>
            </a>

            <h1 class="title">
                BENEFIT AUCTION
            </h1>
        </div>
        <div class="row introduce">
            <h2>
                The Fallen Butterflies Project: featuring jewelry design from Los Alamitos High School students
            </h2>

            <p class="end-time">
                <img src="images/pic/clock.png" alt="" width="20" height="19"/>
                <span data-ng-bind="auctionEndDateText"></span>
            </p>
        </div>
        <div class="wrapper">
            <div class="row count-down">
                <timer end-time="endTime" interval="1000">
                    <div class="col-xs-3 days">
                        {{days}}
                        <span>Days</span>
                    </div>
                    <div class="col-xs-3 hours-2">
                        {{hours}}
                        <span>Hours</span>
                    </div>
                    <div class="col-xs-3 mins-2">
                        {{minutes}}
                        <span>Mins</span>
                    </div>
                    <div class="col-xs-3 secs-2">
                        {{seconds}}
                        <span>Secs</span>
                    </div>
                </timer>
            </div>
        </div>
    </div>

    <div class="container about">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Purpose
                </h2>

                <p>
                    Your purchases will raise money for The Havenly Blue Foundation, the Los Alamitos High School Visual
                    Arts Program, and participating high school students.
                    Watch the video to learn more about the Fallen Butterflies Project and its impact.
                </p>
                <a href="#/" class="hidden-xs">
                    <button type="button" class="btn btn-info btn-large btn-view-gallery" style="width: auto;">View auction gallery</button>
                </a>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <iframe style="width: 100%;" height="315" src="//www.youtube.com/embed/NKf29mgQGn0" frameborder="0"
                            allowfullscreen></iframe>
                    <a href="#/" class="visible-xs">
                        <button type="button" class="btn btn-info btn-view-gallery">View auction gallery</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container about">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Inspiration
                </h2>

                <p>
                    The Havenly Blue Foundation advocates for children who are caught in the cycle of abuse and neglect,
                    and challenges all of us to become a voice for these children by spreading awareness. In response,
                    Los Alamitos
                    High School 3D art students have created over 100 unique jewelry pieces
                    that become wearable art with a message of hope!
                </p>
            </div>
            <div class="col-md-6">
                <h2>
                    How this works
                </h2>

                <p>
                    Simply select items to view, and register your bids for up to 5 items. You will not be charged until
                    you have won an item. You will not be charged until you have won an item. Bid confirmations will be
                    sent
                    by email, and you will be notified if anyone outbids you. The auction runs from February 11th to
                    March 7th 2014
                    at 5 PM(PST).
                </p>
            </div>
        </div>

    </div>
    <div class="container about copyright hidden-xs">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <img src="images/pic/haventy.png" class="img-responsive" alt="">
                </td>
                <td>
                    <a href="http://teachart.org">
                        <img src="images/pic/teachart.png" class="img-responsive" alt="">
                    </a>
                </td>

                <td>
                    <a href="http://localism.co">
                        <img src="images/pic/localism.png" class="img-responsive" alt="">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <p style="padding: 3em 0 3em 0;text-align: center;border-top: 1px solid #5c5c5c;margin-top: 5em;color: #bdbdbd">
            Community Auction™ by <a style="text-decoration: underline;color: #bdbdbd;" href="http://localism.co">Localism
            Inc.</a> ©2014 All rights reserved.
        </p>
    </div>
    <div class="container about copyright visible-xs">
        <table class="table">
            <tr>
                <td style="padding-right: 1em">
                    <img src="images/pic/haventy.png" class="img-responsive" alt=""/>
                </td>
                <td>
                    <a href="http://teachart.org">
                        <img src="images/pic/teachart.png" class="img-responsive" alt=""/>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 2em;">
                    <img style="width: 11em;margin: auto" src="images/pic/localism.png" class="img-responsive" alt=""/>
                </td>
            </tr>
        </table>
        <a href="#/">
            <button type="button" class="btn btn-info btn-view-gallery">View auction gallery</button>
        </a>

        <p style="padding: 2em 0 0 0;text-align: center;font-size: 0.9em;">
            Community Auction™ by <a style="color: #ffffff;text-decoration: underline;" href="http://localism.co">Localism
            Inc.</a> ©2014 <br/>All rights reserved.
        </p>
    </div>
</div>