<div class="bid-bg">
    <div class="container ">
        <div class="row logo bid-title">
        <span class="pull-right step">
            Step 1 of 2
        </span>
            <img src="images/pic/dollar.png" alt="" width="32" height="32"/>

            <h1 class="title">
                ENTER YOUR BID
            </h1>
        </div>
        <form name="form" class="bid-form control-group">
            <div class="row">

                <div class="col-md-6">

                    <img data-ng-src="images/gallery/IMG_{{selectedPic.itemNumber}}.jpg" class="img-responsive"
                         alt=""/>

                    <div class="row pic-detail">
                        <div class="col-xs-4">
                            <div>Item</div>
                            <div class="big">{{selectedPic.itemNumber}}</div>
                        </div>
                        <div class="col-xs-8 right">
                            <div>Made by</div>
                            <div class="big">{{getStudentDisplayName(selectedPic.studentName)}}</div>
                        </div>
                    </div>

                    
                </div>
                <div class="col-md-6">
                    <p>
                        Please enter your auction bid! You will not be charged until you win an item.
                        Don’t forget: items are one-of-a-kind!
                    </p>

                    <p>
                        <span class="glyphicon glyphicon-usd"></span>
                        Bid amount
                    </p>

                    <div class="row">
                        <div class="col-xs-5">
                            <input name="amount" required smart-float type="text" ng-model="model.amount"
                                   class="amount"
                                   style="width: 70%;display: inline;text-align: right;font-family: 'Roboto Slab';"/>
                            .00
                        </div>
                        <div class="col-xs-7">
                            <p class="prompt" ng-show="form.amount.$error.float">
                                A min $15 starting bid is recommended for this item.
                            </p>
                        </div>
                    </div>
<!-- first directive -->
                    <div class="payment">
                        <havenly-cc-new data-ng-hide="isCCExist"></havenly-cc-new>
<!-- second directive -->
                        <havenly-cc-exists data-ng-show="isCCExist"></havenly-cc-exists>
                    </div>
                </div>
                <button data-ng-click="saveCard()"  data-ng-disabled="submitting">
                        <img src="images/pic/processd.png" class="proceed" alt=""/>
                    </button>
            </div>
        </form>
    </div>
</div>